<h1>Sample app</h1>

<p>This text is located in /views/index.hbs</p>

<p>There is a sample "items" route for demonstration purposes:</p>

<p>
	<a href="{{urlRoot}}/items">view gift shop items</a>
</p>
